
@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Yeni Kullanıcı Ekle</h4>
<br />
<form method="post" class="form form-group">


    <input type="text" name="KullaniciAdi" class="form form-control" placeholder="Kullanıcı Adı" />
    <br />
    <input type="text" name="Sifre" class="form form-control" placeholder="Şifreniz" />
    <br />  
    <button class="btn btn-info">Kaydet</button>
</form>


